* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background: rgb(208, 206, 255);
  width: 100%;
}

#heading {
  width: 80rem;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto 10px;
  background:rgb(50, 50, 50);
  color: rgb(208, 206, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  text-align: center;
}

#eingaben-ergebnis {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

#ergebnis {
  width: 30rem;
  padding: 20px;
  border-radius: 10px;
  background: rgb(50, 50, 50);
  color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

#eingaben {
  display: flex;
  flex-direction: column;
  width: 29rem;
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

#eingabenInput {
  margin: 10px auto 0 20px;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  color: rgb(229, 229, 229);
}

input {
  margin: 0 0 5px 0;
}

h1 {
  margin-bottom: 10px;
  color: rgb(208, 206, 255);
}

h3 {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(208, 206, 255);
}

p {
  margin: 10px 0 0 20px;
}

#canvas {
  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
  margin-left: 15px;
}