@font-face {
  font-family: Sucaba;
  src: url(../Font/sucaba_[de.allfont.net].ttf);
}
@font-face {
  font-family: FreeMono;
  src: url(../Font/FreeMono.ttf);
}
@font-face {
  font-family: Glitch;
  src: url(../Font/Glitcher.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem repeat(3);
  grid-template-areas: 
  "header header header"
  "eingabe ergebnis zeichnung";
  background: rgb(208, 206, 255);
  margin: 15px;
  padding: 0 15px 20px;
}

#heading {
  grid-area: header;

  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  background:rgb(50, 50, 50);
  color: rgb(208, 206, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  text-align: center;
}

#eingaben {
  display: flex;
  flex-direction: column;
  /* width: 29rem; */
  /* width: 100%; */
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

#eingabenInput {
  margin: 0px auto 0 0;
}

#ergebnis {
  grid-area: ergebnis;

  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem repeat(21);

  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(50, 50, 50);
  color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.angabe {
  grid-column: 1;
  font-family: FreeMono;
  margin-left: 15px;
}
.angabeHeader {
  grid-column: 1;
  font-family: Glitch;
}
.ausgabe {
  font-family: FreeMono;
  margin-left: auto;
  padding-right: 40%;
}
.rundung{
  margin: 20px 0 20px 15px;
}

#rundungsfeld{
  width: 50px;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  color: rgb(229, 229, 229);
}

input {
  margin: 0 0 5px 0;
}

h1 {
  margin-bottom: 10px;
  color: rgb(208, 206, 255);
  
  font-family: Sucaba;
  font-size: 33px;
}

h3 {
  margin: 10px 0 0 0;
  padding: 5px;
  color: rgb(208, 206, 255);
  
  font-size: 20px;
}

p {
  /* margin-left: 15px; */
  
  font-size: 16px;
}

#wrapper {
  height: 3rem;
  margin-top: 30px;
}

#error {
  display: flex;
  justify-items: center;
  background-color: rgb(255, 167, 167);
  border-color: red;
  color: rgb(170, 0, 0);
  border-radius: 3px;
  padding: 0.8em 1em;
  height: 100%;
  align-items: center;
  display: none;
}

#error-triangle {
  display: flex;
  justify-items: center;
  background-color: rgb(255, 167, 167);
  border-color: red;
  color: rgb(170, 0, 0);
  border-radius: 3px;
  padding: 0.8em 1em;
  height: 100%;
  align-items: center;
  display: none;
}

#bttn{
  width: 100px;
  margin: 0 auto;
}

#canvas-dreieck {
  grid-area: zeichnung;

  width: 100%;
  height: 100%;

  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
}


/* Responsive */

@media (max-width: 1080px){

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem repeat(2);
    grid-template-areas: 
    "header header"
    "eingabe ergebnis"
    "zeichnung zeichnung";
    background: rgb(208, 206, 255);
    margin: 15px;
    padding: 0 15px 20px;
  }

  #canvas-dreieck {
    grid-area: zeichnung;
  
    width: 50%;
  
    border: 3px solid rgb(50, 50, 50);
    border-radius: 10px;
  }

  #eingaben, #ergebnis{
    margin: 0 0 15px 0;
    width: auto;
  }
  #eingaben{
    margin-right: 15px;
  }
}


@media (max-width: 650px){

  body{
    display: flex;
    flex-direction: column;
  }

  .ausgabe {
    margin-left: auto;
    padding-right: 20%;
  }

  p {
    font-size: 15px;
  }

  input{
    width: 50%;
  }

  #eingaben, #ergebnis{
    margin-bottom: 15px;
    width: 100%;
  } 

  #canvas-dreieck {  
    width: 100%;
  }
}
