@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Titillium+Web:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem repeat(3);
  grid-template-areas: 
  "header header header"
  "eingabe ergebnis zeichnung";
  background: rgb(208, 206, 255);

  margin: 15px;
  padding: 15px
}

#heading {
  grid-area: header;

  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  background:rgb(50, 50, 50);
  color: rgb(208, 206, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  text-align: center;
}

#eingaben {
  display: flex;
  flex-direction: column;
  /* width: 29rem; */
  /* width: 100%; */
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

#eingabenInput {
  margin: 0px auto 0 20px;
}

#ergebnis {
  grid-area: ergebnis;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem repeat(21);

  /* width: 30rem; */
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(50, 50, 50);
  color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.angabe {
  grid-column: 1;
  /* justify-items: center; */
}

.rundung{
  margin: 20px 5px 20px;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  color: rgb(229, 229, 229);
}

input {
  margin: 0 0 5px 0;
}

h1 {
  margin-bottom: 10px;
  color: rgb(208, 206, 255);
}

h3 {
  margin: 10px;
  padding: 5px;
  color: rgb(208, 206, 255);
}

p {
  margin: 10px 0 0 20px;
  /* margin: 10px; */
}

#wrapper {
  height: 3rem;
  margin-bottom: 10px;
}

#error {
  display: flex;
  justify-items: center;
  background-color: rgb(255, 167, 167);
  border-color: red;
  color: rgb(170, 0, 0);
  border-radius: 3px;
  padding: 0 1em;
  height: 100%;
  align-items: center;
  display: none;
}

#bttn{
  width: 100px;
  margin: auto;
}

#canvas {
  grid-area: zeichnung;

  width: 100%;
  height: 100%;

  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
}